
.sidenav {
  font-family: "Raleway", "Roboto", sans-serif;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  background-color: #111;
  opacity: .8;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 22px;
  color: #bdbdbd;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}
.nav-wrapper a:hover {
  background-color: #f1f1f1;
  color: #414141;
  font-size: 26px;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  margin-left: 50px;
}
.nav-wrapper {
  margin-top: 60px;
}
.open {
  width: 250px;
}
.closed {
  width: 0px;
}
.navbtn {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1;
  font-size: 4vmax;
  color: #961d1d;
  cursor: pointer;
  transition: 2s;
}
.navbtn:active {
  color: #bdbdbd;
}

.closeImg {
  width: 32px;
  height: 32px;
}
.hidden {
  visibility: hidden;
}